body{
    background-color: grey;
}

header{
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-image: url(IMG_8705.JPG);
    background-size: cover;
    background-position: center;
}

.logo1{
    font-size: 20px;
    color: black;
}
.nav-list{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.ositene{
    text-align: center;
}
.picture{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin:0 auto;
}
.heading{
    text-align: center;
}   
